:root {
  /* Layout */
  --toolbarHeight: 30px;
}


html,body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #222;
  color: white;
}

.App {
  /*text-align: center;*/
  height: 100%;
  display:flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Resizer {
    background: #fff;
    opacity: .4;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

 .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}
 .Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
.view-pane {
  height: 100%;
  width:100%;
  overflow-x: auto;
  overflow-y: scroll;
}
/* width */
.view-pane::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.view-pane::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
.view-pane::-webkit-scrollbar-thumb {
  background: #666;
  width:5px;
  border-radius: 0px;
}

/* Handle on hover */
.view-pane::-webkit-scrollbar-thumb:hover {
  background: #222 !important; 
}
.editor-pane {
  height: 100%;
  overflow-y: hidden;
}

.CodeMirror {
  height: calc(100% - 20px);
  padding-top: 20px;
}
.ReactCodeMirror {
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}


/*CodeMirror-hscrollbar*/
/* Handle */
.result {
  padding-left: 20px;
}
.result a {
  color: #3890e0;
}

.toolbar {
  height: var(--toolbarHeight);
  background-color: #222;
  border-bottom: 1px solid rgba(173, 161, 161, 0.5);
  background-clip: padding-box;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.toolbar svg {
    margin: 0 5px;
}

.toolbar svg:first-of-type{
    margin-left: 0;
}

.toolbar svg:last-of-type{
    margin-right: 0;
}



.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
  position: absolute;
  background: #222;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #222;
  border-radius: 2px;
}

.CodeMirror-simplescroll-horizontal, .CodeMirror-simplescroll-vertical {
  position: absolute;
  z-index: 6;
  background: #222;
}

.CodeMirror-simplescroll-horizontal {
  bottom: 0; left: 0;
  height: 8px;
}
.CodeMirror-simplescroll-horizontal div {
  bottom: 0;
  height: 100%;
}

.CodeMirror-simplescroll-vertical {
  right: 0; top: 0;
  width: 200px;
}
.CodeMirror-simplescroll-vertical div {
  right: 0;
  width: 100%;
}


.CodeMirror-overlayscroll .CodeMirror-scrollbar-filler, .CodeMirror-overlayscroll .CodeMirror-gutter-filler {
  display: none;
}

.CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {
  position: absolute;
  background: #666;
}
.CodeMirror-scrollbar-filler{
  background: #fff;
}
.CodeMirror-overlayscroll-filler div{
  background: #fff
}

.CodeMirror-overlayscroll-horizontal, .CodeMirror-overlayscroll-vertical {
  position: absolute;
  z-index: 6;
}

.CodeMirror-overlayscroll-horizontal {
  bottom: 0; left: 0;
  height: 6px;
}
.CodeMirror-overlayscroll-horizontal div {
  bottom: 0;
  height: 100%;
}

.CodeMirror-overlayscroll-vertical {
  right: 0; top: 0;
  width: 6px;
}
.CodeMirror-overlayscroll-vertical div {
  right: 0;
  width: 100%;
}